<div id="<%= dom_id file_upload_question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= file_upload_question.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this file upload question", file_upload_question, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this file upload question', edit_file_upload_question_path(file_upload_question), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
