
  <div class="w-full">
    <div class="flex justify-between items-center mb-6 ">
      <h1 class="font-bold text-5xl text-white mx-auto justify-center mt-48">Welcome to the Edugorilla</h1>
    </div>
  </div>
</div>